@font-face {
	font-family: "Advent Pro";
	src: url("../fonts/AdventPro-Regular.ttf");
}
@font-face {
	font-family: "Advent Pro Light";
	src: url("../fonts/AdventPro-ExtraLight.ttf");
}

body {
	font-family: 'Advent Pro', sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
	color: white;
}
body.current {
	background: url(../img/springCurrent-2.jpg) no-repeat #000000;
}
#cloudBg {
	background: url(../img/weatherCloud.png) no-repeat;
	width: 1236px;
	height: 978px;
	margin: 0 auto;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
h1 {
	font-weight: normal;
	font-size: 80px;
	position: absolute;
	top: 50px;
	right: 256px;
	text-transform: uppercase;
}
#temp {
	font-size: 346px;
	font-family: 'Advent Pro Light', sans-serif;
	position: absolute;
	top: 220px;
	right: 325px;
	span {
		font-size: 90px;
		font-weight: normal;
		position: absolute;
		top: 60px;
	}
}
#statusBlock {
	position: relative;
	top: 554px;
	left: 337px;
	width: 500px;
	height: 257px;
}
#feelsLike, #chanceOfPrecip, #wind, #humidity {
	position: absolute;
	right: -60px;	
}
#feelsLike {
	top: 10;
	font-size: 55px;
}
#chanceOfPrecip, #wind, #humidity {
	font-size: 40px;
	right: 20px;
}
#chanceOfPrecip {
	top: 77px;
}
#wind {
	top: 130px;
  display: inline;
}
#humidity {
	top: 180px;
  display: inline;
}
#summary {
	position: absolute;
	top: 260px;
	left: 72px;
	text-align: right;
	font-size: 40px;
	width: 379px;
}
ul#otherDetails {
  position: absolute;
  top: 150px;
  font-size: 40px;
  padding: 0;
}
ul#otherDetails li {
  list-style-type: none;
  display: inline;
  margin:0 7px;
}
#icon {
	width: 200px;
	height: 154px;
	margin-left: 186px;
	background: url(../img/weatherIcons_Large_Sprite.png);
}
h4.dailyForecastHeading {
  margin: 10px 0;
}
.clear-day #icon {
	//first icon in the sprite
	background-position: 0px 0px;
}
.clear-night #icon {
	background-position: -1865px;
}
.rain #icon {
	background-position: -616px;
}
.snow #icon {
	background-position: -1034px;
}
.sleet #icon {
	background-position: -818px;
}
.wind #icon {
	background-position: -2067px;
}
.fog #icon {
	background-position: -213px;
}
.cloudy #icon {
	background-position: -213px;
}
.partly-cloudy-day #icon {
	background-position: -415px;
}
.partly-cloudy-night #icon {
	background-position: -1649px;
}
#marquee2 {
	position: absolute;
	bottom: 0;
	width: 100%; /*marquee width */
	height: 50px; /*marquee height */
	overflow: hidden;
	background-color: black;
	color: white;
	padding: 2px;
	padding-left: 4px;
	font-size: 40px;
}
#attribution {
	color: black;
	position: absolute;
	bottom: 0;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}
body.alerts #attribution {
	bottom: 70px;
}

//Current conditions summary: clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night