@font-face {
	font-family: "Advent Pro";
	src: url("../fonts/AdventPro-Regular.ttf");
}

body {
	font-family: 'Advent Pro', sans-serif;
	font-size: 26px;
//	-webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
	width: 100%;
	height: 100%;
	color: white;
}
body.forecast {
	background: url(../img/springForecast-3.jpg) no-repeat #000000;
}
/* Comment */

#blocksBg {
	background: url(../img/WeatherForecastBlocks.png) no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 493px;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.day {
	position: absolute;
	text-align: center;
	width: 283px;
}
#day1 {
	left: 38px;
}
#day2 {
	left: 420px;
}
#day3 {
	left: 813px;
}
#day4 {
	left: 1200px;
}
#day5 {
	left: 1596px;
}
h2 {
	font-size: 43px;
	margin: 7px;
	font-weight: normal;
}
.summary {
	margin-top: 25px;
}
.summary, .high, .low, .chanceOfPrecip { line-height: 38px; }
.high, .low, .chanceOfPrecip { font-size: 36px }
#icon {
	width: 200px;
	height: 154px;
	margin: 0 auto;
	background: url(../img/weatherIcons_Large_Sprite.png);
}
.clear-day #icon {
	//first icon in the sprite
	background-position: 0px 0px;
}
.clear-night #icon {
	//background-position: -1865px;
	background-position: 0px 0px;
}
.rain #icon {
	background-position: -616px;
}
.snow #icon {
	background-position: -1034px;
}
.sleet #icon {
	background-position: -818px;
}
.wind #icon {
	background-position: -2067px;
}
.fog #icon {
	background-position: -213px;
}
.cloudy #icon {
	background-position: -213px;
}
.partly-cloudy-day #icon {
	background-position: -415px;
}
.partly-cloudy-night #icon {
	//background-position: -1649px;
	background-position: -415px;
}
#attribution {
	color: black;
	position: absolute;
	bottom: 0;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}



//Current conditions summary: clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night
